h1 {
    border-bottom-style: inset;
}
pre {
    font-size: 1.2em;
}

.font-blue {
    color: blue;
}

.hidden {
    display: none;
}
.show {
    display: inline;
}

.italic {
    font-style: italic;
}
